# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage

# don't lint test stuff
**/__fixtures__/**
**/__mocks__/**
**/*.d.ts
/config.js
.clinic/
.cache/

# generated code
**/*.generated.ts
/tools/dist
/patches
tmp/
