# It would be nice to remove this file and use .gitignore instead however we need to add package.json and __fixtures__

/node_modules
/config.js
/coverage
/dist
/tmp
.DS_Store
.cache
/*.log
package.json
**/__fixtures__/
**/__mocks__/
.clinic/
.eslintcache

# generated code
**/*.generated.ts
/tools/dist
/patches
**/tmp/
