{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "yarn release --release=${nextRelease.version} --sha=${nextRelease.gitHead}"
      }
    ],
    "@semantic-release/github"
  ],
  "analyzeCommits": {
    "preset": "angular",
    "releaseRules": [
      {
        "type": "docs",
        "scope": "readme.md",
        "release": "patch"
      },
      {
        "type": "build",
        "release": "patch"
      }
    ]
  },
  "tagFormat": "${version}"
}
