{
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": false,
      "keepClassNames": true
    },
    "transform": null,
    "target": "es2020",
    "preserveAllComments": true
  },
  "module": {
    "type": "commonjs"
  }
}
