# https://mise.jdx.dev/mise-cookbook/nodejs.html#example-with-pnpm
[tools]
# we could configure Mise to reuse `.nvmrc`, though that feature is opting in via `mise settings add idiomatic_version_file_enable_tools node`
node = "24.13.0"

[hooks]
# Enabling corepack will install the `pnpm` package manager specified in package.json
# alternatively, you can also install `pnpm` with mise
postinstall = 'npx corepack enable'

[settings]
# This must be enabled to make the hooks work
experimental = true

[env]
_.path = ['{{config_root}}/node_modules/.bin']

[tasks.pnpm-install]
description = 'Installs dependencies with pnpm'
run = 'pnpm install'
sources = ['package.json', 'pnpm-lock.yaml', 'mise.toml']
outputs = ['node_modules/.pnpm/lock.yaml']
