# Repositories
--extra-index-url http://$PIP_TEST_TOKEN:example.com/private-pypi/
--extra-index-url http://${PIP_TEST_TOKEN}:example.com/private-pypi/
--extra-index-url "http://$PIP_TEST_TOKEN:example.com/private-pypi/"
--extra-index-url "http://${PIP_TEST_TOKEN1}:example.com/private-pypi/"
# Packages
Django[argon2]==2.0.12
celery [redis]==4.1.1
foo [bar] == 3.2.1 # handles extra white space
some-package==0.3.1
some-other-package==1.0.0
not_semver==1.9
