version: 2.1
commands:
  test:
    steps:
      - checkout
      - run:
          name: Initial Setup
          command: |
            python --version
            python3 --version
            curl https://bootstrap.pypa.io/get-pip.py | python
            pip --version
            git config --global user.email "bot@renovateapp.com"
            git config --global user.name "Renovate Bot"
            git --version

      - run:
          name: Installing Dependencies
          command: |
            yarn install --frozen-lockfile
            pip install --user -r requirements.txt

      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
            - '.cache'
            - '.eslintcache'

      - run:
          name: Lint
          command: |
            yarn eslint --format junit -o test-results/lint/results.xml
            yarn prettier
            yarn test-schema
            yarn type-check

      - run:
          name: Build
          command: |
            yarn build

      - run:
          name: Unit Tests
          command: |
            yarn jest --maxWorkers=2  --ci --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: 'test-results/jest/results.xml'

      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

      - run:
          name: E2E Tests
          command: |
            yarn test-e2e

      - run:
          name: Coverage
          command: |
            bash <(curl -s https://codecov.io/bash) -Z -C $CIRCLE_SHA1
          when: always
jobs:
  test_node_10:
    docker:
      - image: amd64/node:10.16.3@sha256:e0f7dabe991810057aee6ba7a7d4136fe7fc70e99235d79e6c7ae0177656a5c8
    steps:
      - test
  test_node_12:
    docker:
      - image: amd64/node:12.11.1@sha256:aef1338c8538d8bf1163a75723ba64dc0299c3ba521e0b18b1a4af12df99f622
    steps:
      - test
  release:
    docker:
      - image: amd64/node:10.16.3@sha256:e0f7dabe991810057aee6ba7a7d4136fe7fc70e99235d79e6c7ae0177656a5c8
    steps:
      - checkout
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn semantic-release
      - run: curl -X POST -d '{}' $NETLIFY_DEPLOY_WEBHOOK

workflows:
  version: 2
  test_and_release:
    jobs:
      - test_node_10
      - test_node_12
      - release:
          requires:
            - test_node_10
            - test_node_12
          filters:
            branches:
              only:
                - master
