version: 2.1
jobs:
  test_node_10:
    docker:
      - image: node:10.15.3@sha256:2939bbf1f233c88ed1bc5fec51d4e6ac59beeb397b6b81371c4c576e4606de19
    steps:
      - checkout
      - run:
          name: Initial Setup
          command: |
            python --version
            python3 --version
            curl https://bootstrap.pypa.io/get-pip.py | python             
            pip --version
            git config --global user.email "bot@renovateapp.com"
            git config --global user.name "Renovate Bot"      
            git --version

      - run:
          name: Installing Dependencies
          command: |
            yarn install --frozen-lockfile
            pip install --user -r requirements.txt

      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
            - '.cache'
            - '.eslintcache'

      - run:
          name: Lint
          command: |
            yarn lint
            yarn test-schema

      - run:
          name: Build
          command: |
            yarn build  

      - run:
          name: Unit Tests
          command: |
            yarn jest --runInBand

      - run:
          name: E2E Tests
          command: |
            yarn test-e2e  

      - run:
          name: Coverage
          command: |
            bash <(curl -s https://codecov.io/bash)

  release:
    docker:
      - image: node:10.15.3@sha256:2939bbf1f233c88ed1bc5fec51d4e6ac59beeb397b6b81371c4c576e4606de19
    steps:
      - checkout
      - run: yarn install
      - run: yarn build
      - run: yarn semantic-release
      - run: curl -X POST -d '{}' $NETLIFY_DEPLOY_WEBHOOK

workflows:
  version: 2
  test_and_release:
    jobs:
      - test_node_10
      - release:
          requires:
            - test_node_10
          filters:
            branches:
              only:
                - master
