version: 2.1
commands:
  test:
    steps:
      - checkout
      - run:
          name: Initial Setup
          command: |
            python --version
            python3 --version
            curl https://bootstrap.pypa.io/get-pip.py | python
            pip --version
            git config --global user.email "bot@renovateapp.com"
            git config --global user.name "Renovate Bot"
            git --version

      - restore_cache:
          keys:
            - dependency-cache-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - dependency-cache-v2-{{ .Branch }}-
            - dependency-cache-v2-
            - dependency-cache-

      - run:
          name: Installing Dependencies
          command: |
            yarn install --frozen-lockfile
            pip install --user -r requirements.txt

      - save_cache:
          key: dependency-cache-v2-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - ./node_modules
            - '.cache'
            - '.eslintcache'

      - run:
          name: Lint
          command: |
            yarn eslint --format junit -o test-results/lint/results.xml
            yarn prettier
            yarn test-schema
            yarn type-check

      - run:
          name: Build
          command: |
            yarn build

      - run:
          name: Unit Tests
          command: |
            yarn jest --maxWorkers=2  --ci --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: 'test-results/jest'
            JEST_JUNIT_OUTPUT_NAME: 'results.xml'
            NO_JAVA: 'true'

      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

      - run:
          name: E2E Tests
          command: |
            yarn test-e2e

      - run:
          name: Coverage
          command: |
            bash <(curl -s https://codecov.io/bash) -Z -C $CIRCLE_SHA1
          when: always
jobs:
  test_node_10:
    docker:
      - image: amd64/node:10.19.0@sha256:06e80d0a45ea264fa69296cce992bc6f9c6956ff18f314c6211ba5b0db34e468
    steps:
      - test
  release:
    docker:
      - image: amd64/node:10.19.0@sha256:06e80d0a45ea264fa69296cce992bc6f9c6956ff18f314c6211ba5b0db34e468
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - dependency-cache-v2-{{ .Branch }}-
            - dependency-cache-v2-
            - dependency-cache-
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn semantic-release
      - run: curl -X POST -d '{}' $NETLIFY_DEPLOY_WEBHOOK

workflows:
  version: 2
  test_and_release:
    jobs:
      - test_node_10
      - release:
          requires:
            - test_node_10
          filters:
            branches:
              only:
                - master
