%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.

{deps, [
        cowboy,
        {cowlib, "~> 2.13"},
        {ranch, "2.1.0"},
        {thoas, "~> 1.2.0"},
        %% {commented_dep, "1.0.0"},
        {hackney, "~> 1.20"},
        {pgo, {pkg, pgo_fork}},
        {telemetry, "~> 1.0", {pkg, my_telemetry}},
        {nova, {git, "https://github.com/novaframework/nova.git", {tag, "0.10.0"}}},
        {cowboy_swagger, {git, "https://github.com/inaka/cowboy_swagger.git", {branch, "master"}}},
        {jiffy, {git, "https://github.com/davisp/jiffy.git", {ref, "a7db72493d2288533afbb8a95db43eadc9e7de12"}}},
        {sumo_db, {git, "git://github.com/inaka/sumo_db.git"}},
        {sub_app, {git_subdir, "https://github.com/org/monorepo.git", {tag, "2.0.0"}, "apps/sub_app"}}
       ]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"},
            {proper, "~> 1.4"}
        ]}
    ]}
]}.

{plugins, [rebar3_hex]}.
