{
  :deps {
,,,,persistent-sorted-set,{:mvn/version,"0.1.2"}
  }

  :aliases {
    :1.9 {
      :override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}
    }

    :1.10 {
      :override-deps {
        org.clojure/clojure {:mvn/version "1.10.0"}
      }
    }

    :dev {
      :extra-paths ["dev" "target/classes"]
      :extra-deps {
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
      }
    }

    :test {
      :extra-paths ["test"]
      :extra-deps {
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        lambdaisland/kaocha       {:mvn/version "0.0-389"}
        lambdaisland/kaocha-cljs  {:mvn/version "0.0-21"}
      }
    }

    :repl {
      :extra-deps {
        cider/cider-nrepl           {:mvn/version "0.21.1"}
        nrepl/nrepl                 {:mvn/version "0.6.0"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
      }
      :main-opts [
        "-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"
      ]
    }

    :datomic {
      :extra-deps {
        com.datomic/datomic-free {:mvn/version  "0.9.5703"}
      }
    }
  }
}
