.md-header .md-header__button.md-logo {
  padding: 0;
}
.md-header .md-header__button.md-logo img,
.md-header .md-header__button.md-logo svg {
  height: 1.5rem;
}
.md-typeset a {
  text-decoration: underline;
}

.md-typeset .parents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/** don't show the client-side rendered version number for Renovate (but keep the stars + forks) */
.md-source__fact .md-source__fact--version {
  display: none;
}

/** Material only makes img/svg/video responsive by default, not object */
.md-typeset object.renovate-banner {
  max-width: 100%;
  height: auto;
  aspect-ratio: 756 / 250;
}
