name: Auto Label

on:
  pull_request_target:
    branches:
      - main
    types:
      - opened
      - reopened
      - edited
      - synchronize
      - ready_for_review

permissions:
  contents: read # the config file
  pull-requests: write # for labeling pull requests (on: pull_request_target or on: pull_request)

jobs:
  pr-labeler:
    name: Auto-label PR
    runs-on: ubuntu-latest
    steps:
      - uses: fuxingloh/multi-labeler@b15a54460c38f54043fa75f7b08a0e2aa5b94b5b # v4.0.0
