name: Build

on:
  push: {}

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  # are we on a release branch?
  DO_REALEASE: ${{ github.ref_name == github.event.repository.default_branch || github.ref_name == 'next' || startsWith(github.ref_name, 'maint/')}}
  NODE_VERSION: 24
  PDM_VERSION: 2.26.1 # renovate: datasource=pypi depName=pdm
  DRY_RUN: true
  TEST_LEGACY_DECRYPTION: true
  SPARSE_CHECKOUT: |-
    .github/actions/
    data/
    patches/
    tools/
    package.json
    pnpm-lock.yaml

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      # To avoid disk space issues when performing a release, we can clear up some disk space ahead of time
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          tool-cache: false

          android: true
          dotnet: true
          haskell: true
          swap-storage: true
