name: build-pr

on:
  pull_request:

env:
  NODE_VERSION: 14
  PYTHON_VERSION: 3.9
  SKIP_JAVA_TESTS: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
    runs-on: ubuntu-latest

    # tests shouldn't need more time
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2.3.4
        with:
          fetch-depth: 2

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@4d0182af5ead0b7bf53e87e49aa959476f5501d3 # renovate: tag=v2.3.2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@dc73133d4da04e56a135ae2246682783cc7c7cb6 # renovate: tag=v2.2.2
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Init platform
        shell: bash
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
          git config --global user.email 'renovate@whitesourcesoftware.com'
          git config --global user.name  'Renovate Bot'
          npm config set scripts-prepend-node-path true
          echo "Node $(node --version)"
          python --version
          echo "Yarn $(yarn --version)"

      - name: Installing dependencies
        run: yarn install --frozen-lockfile

      - name: Unit tests
        run: yarn jest --maxWorkers=2 --ci

      - name: Codecov
        uses: codecov/codecov-action@51d810878be5422784e86451c0e7c14e5860ec47 # renovate: tag=v2.0.2
        if: always()

      # build after tests to exclude files
      - name: Build
        run: yarn build

      - name: E2E Test
        run: yarn test-e2e

  lint:
    runs-on: ubuntu-latest

    # lint shouldn't need more than 10 min
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # renovate: tag=v2.3.4
        with:
          fetch-depth: 2

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@4d0182af5ead0b7bf53e87e49aa959476f5501d3 # renovate: tag=v2.3.2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Init platform
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
          git config --global user.email 'renovate@whitesourcesoftware.com'
          git config --global user.name  'Renovate Bot'
          npm config set scripts-prepend-node-path true
          echo "Node $(node --version)"
          echo "Yarn $(yarn --version)"

      - name: Installing dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: |
          yarn ls-lint
          yarn eslint
          yarn prettier
          yarn markdown-lint

      - name: Test schema
        run: yarn test-schema

      - name: Type check
        run: yarn type-check
