name: Docker Images CI

on:
  push:
    branches:
      - master
      - 'renovate/**'

  pull_request:

env:
  PLATFORM: linux/amd64
  DOCKER_CACHE_TAG: _cache
  DOCKER_REPO: renovate/renovate

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest

    timeout-minutes: 20

    strategy:
      matrix:
        tag: [latest, slim]

    env:
      DOCKER_TAG: ${{ matrix.tag }}

    steps:
      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: v0.3.1

      - uses: actions/checkout@v2

      - name: Build the Docker image
        run: |
          docker buildx build \
            --platform ${PLATFORM} \
            --output=type=docker \
            --cache-from=${DOCKER_REPO}:${DOCKER_CACHE_TAG}-${DOCKER_TAG} \
            --tag=renovate \
            --build-arg IMAGE=${DOCKER_TAG} \
            --build-arg SHA=${{github.sha}} \
            --target final \
            --file=./Dockerfile .

      - name: Test the Docker image
        run: |
          docker run --rm -t renovate --version

      - name: Image history
        run: docker history renovate
      - name: Image size
        run: docker image ls | grep renovate
