name: release-npm

on:
  repository_dispatch:
    types: [renovate-release]

  workflow_dispatch:
    inputs:
      sha:
        description: 'Git sha to checkout'
        required: true
      version:
        description: 'Version to release'
        required: true
      tag:
        description: 'Npm dist-tag'
        default: 'latest'
        required: false

env:
  NODE_VERSION: 18
  GIT_SHA: ${{ github.event.client_payload.sha }}
  NPM_VERSION: ${{ github.event.client_payload.version }}
  NPM_TAG: ${{ github.event.client_payload.tag }}

permissions:
  contents: read
  id-token: write

jobs:
  release-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare env
        run: |
          if [[ "${{github.event_name}}" == "workflow_dispatch" ]]; then
            echo "GIT_SHA=${{ github.event.inputs.sha }}" >> "$GITHUB_ENV"
            echo "NPM_VERSION=${{ github.event.inputs.version }}" >> "$GITHUB_ENV"
            echo "NPM_TAG=${{ github.event.inputs.tag }}" >> "$GITHUB_ENV"
          fi

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          ref: ${{ env.GIT_SHA }}

      - name: Enable corepack
        shell: bash
        run: corepack enable

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm

      - name: Init platform
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
          git config --global user.email 'renovate@whitesourcesoftware.com'
          git config --global user.name  'Renovate Bot'

      - name: Installing dependencies
        uses: nick-fields/retry@943e742917ac94714d2f408a0e8320f2d1fcafcd # v2.8.3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: pnpm install

      - name: Build ${{ env.NPM_VERSION }}
        run: pnpm build

      - name: Prepare  ${{ env.NPM_VERSION }}
        run: |
          npm --no-git-tag-version version ${{ env.NPM_VERSION }}

      - name: Publish ${{ env.NPM_VERSION }}
        run: |
          echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> ./.npmrc
          npm publish --tag ${{ env.NPM_TAG }}
          git checkout -- .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
