name: Check for Undesirable Code

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  check_undesirable_code:
    if: "!contains(github.event.pull_request.labels.*.name, 'ci:allow-undesirable')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Fetch all history for comparison
          sparse-checkout: true
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Check for undesirable code
        run: bash tools/check-undesirable-code.sh ${{ github.event.pull_request.base.sha }}
